{% extends 'core/base.html' %}

{% load static %}

{% block title %}Home | {% endblock %}

{% block content %}
<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Empowering Efficiency with Time Tracking</h1>
            <h2 class="subtitle">Here, we understand the critical importance of maximizing productivity and efficiency to achieve our goals. 
            That's why we advocate for the implementation of robust time tracking systems within our organization, and we encourage you to 
            explore the benefits of adopting this practice.</h2>

        </div>
    </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="columns is-align-items mt-6">
                <div class="column is-4 image">
                    <img src="{% static 'images/features-tracktime.jpg' %}">
                </div>

                <div class="column is-8 text">
                    <h2 class="subtitle">Enhanced Productivity</h2>

                    <p>Time tracking provides valuable insights into how time is allocated across various tasks and projects. 
                        By identifying where time is spent most effectively, teams can streamline workflows, prioritize tasks, 
                        and optimize productivity.</p>
                </div>
            </div>

            <div class="columns is-align-items mt-6">
                <div class="column is-8 text">
                    <h2 class="subtitle">Project Cost Control</h2>

                    <p>Time tracking helps organizations accurately assess project costs by tracking billable hours and resource utilization. 
                        This enables more accurate budgeting, billing, and forecasting, ultimately leading to better financial management and profitability.</p>
                </div>

                <div class="column is-4 image">
                    <img src="{% static 'images/features-tracktime.jpg' %}">
                </div>
            </div>

            <div class="columns is-align-items mt-6">
                <div class="column is-4 image">
                    <img src="{% static 'images/features-tracktime.jpg' %}">
                </div>

                <div class="column is-8 text">
                    <h2 class="subtitle">Accurate Resource Allocation</h2>

                    <p>Understanding how much time is required for different projects allows for better resource allocation. 
                        With precise data on time spent, organizations can allocate resources more effectively, 
                        ensuring that projects are adequately staffed and deadlines are met.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-align-items-center mt-6">
        <div class="column is-4 is-offset-4 has-text-centered">
            <h2 class="subtitle">Let's get started</h2>

            <a href="#" class="button is-success is-large">Create a web-site for your organization</a>
        </div>
    </div>
</div>
{% endblock %}